
ml/.idea/workspace.xml
ml/.idea/ml.iml
ml/.idea/ml.iml
ml/.idea/ml.iml
ml/.idea/misc.xml
ml/.idea/workspace.xml
ml/.idea/misc.xml
ml/.idea/ml.iml
ml/.idea/ml.iml
ml/.idea/workspace.xml
ml/cs231n/assignment1/.idea/misc.xml
ml/cs231n/assignment1/.idea/workspace.xml
ml/cs231n/.DS_Store
.DS_Store
ml/.DS_Store
.DS_Store
ml/cs231n/assignment1/.idea/misc.xml
ml/cs231n/assignment1/.idea/workspace.xml
ml/ubc-2012/homework-1/.DS_Store
ml/cs231n/assignment1/.idea/workspace.xml
ml/cs231n/assignment1/.idea/inspectionProfiles/Project_Default.xml
ml/cs231n/assignment2/.idea/assignment2.iml
ml/cs231n/assignment2/.idea/inspectionProfiles/Project_Default.xml
ml/cs231n/assignment2/.idea/workspace.xml
ml/cs231n/assignment2/.idea/modules.xml
ml/cs231n/assignment2/.idea/misc.xml
ml/cs231n/assignment2/.idea/dictionaries/kanxu.xml
ml/cs231n/assignment2/cs231n/im2col_cython.cpython-36m-darwin.so
ml/cs231n/assignment2/FullyConnectedNets.ipynb
ml/cs231n/assignment2/FullyConnectedNets.ipynb
ml/cs231n/.idea/misc.xml
ml/cs231n/.idea/cs231n.iml
ml/cs231n/.idea/cs231n.iml
ml/cs231n/.idea/workspace.xml
ml/cs231n/.idea/cs231n.iml
ml/cs231n/.idea/workspace.xml
ml/cs231n/assignment1/.idea/assignment1.iml
ml/.DS_Store
*.xml
ml/.idea/ml.iml
ml/cs231n/.idea/workspace.xml
ml/cs231n/assignment1/.idea/assignment1.iml
ml/cs231n/assignment2/FullyConnectedNets.ipynb
